:root {
    --sdp-zs: #553CCE;
    --sdp-el-b: #EEEEEE;
    --sdp-kgwxzbj: #DCDFD6;
    --sdp-fs1: #FFFFFF;
    --sdp-fs2: #EAE9EB;
    --sdp-hgls: #263A61;
    --sdp-hgls2: #F5F7FA;
    --sdp-qcgls: #F95046;
    --sdp-tsgls: #5980BB;
    --sdp-ysbjc: #F7F7F7;
    --sdp-zxz-wz: #222222;
    --sdp-bg-bcbk: #DCDCDC;
    --sdp-bg-bcsz: #777777;
    --sdp-bg-lhtwz: #2C3D51;
    --sdp-bg-tcbjs: #FFFFFF;
    --sdp-jddlsrbj: #FFFFFF;
    --sdp-rldx-xz: #553CCE;
    --sdp-zdbjs: #F3F2FB;
    --sdp-tb-srbj: #EAE9EB;
    --sdp-tb-bj: #FFFFFF;
    --sdp-cyfhwzs: #222222;
    --sdp-qxnnds: #EEF0F5;
    --sdp-sztc-srkbt: #606266;
    --sdp-sztc-bts: #553CCE;
    --sdp-zjbts: #2C3E50;
    --sdp-zjbxx-wzs: #444444;
    --sdp-cszj-tswzs: #606266;
    --sdp-cszj-yxibj: #FFFFFF;
    --sdp-sjj-hs: #DFDDEF;
    --sdp-wdzd-h: #5980BB;
    --sdp-sjjdxbj: #D2DBF4;
    --sdp-zcsjj-bj: #FFFFFF;
    --sdp-ysxzbks: #F5F7FA;
    --sdp-xxbt1: #232323;
    --sdp-xxbt2: #232323;
    --sdp-ycsz-srtswz: #999999;
    --sdp-ycsz-rskbt: #222222;
    --sdp-ycsz-hgls: #DEE6F4;
    --sdp-ycsz-srk-bgs: #FFFFFF;
    --sdp-ycsz-srk-bcs: #DCDFE6;
    --sdp-ysxz-i: #63768D;
    --sdp-szl-is: #425060;
    --sdp-ycfgx: #EEEDED;
    --sdp-szk-bjs: #FFFFFF;
    --sdp-ycsz-glwzs: #222222;
    --sdp-cszj-ds: #FFFFFF;
    --sdp-hxx: #B3B1B1;
    --sdp-cszj-bjds: #F6F6F6;
    --sdp-cszj-srbks: #E4E6EC;
    --sdp-cszj-tgl: #333333;
    --sdp-cszj-onns: #465864;
    --sdp-cszj-bkfgx: #E5E7ED;
    --sdp-cszjsz-wzs1: #444444;
    --sdp-cszjsz-wzs2: #455964;
    --sdp-zxz-nns: #D8D8D8;
    --sdp-cszjxz-hs1: #465864;
    --sdp-cszjxz-hs2: #DEE6F3;
    --sdp-rl-hzts: #465864;
    --sdp-rl-bmxjg: #0F203D;
    --sdp-rl-bxys: #446494;
    --sdp-rl-wzjys: #cccccc;
    --sdp-gjys-bjs: #FFFFFF;
    --sdp-cy-bjs: #F3F3F3;
    --sdp-cy-bjfzs: #052633;
    --sdp-xk-bcs: transparent;
    --sdp-xk-bks: #B8B8B8;
    --sdp-fx-mrwzs: #222222;
    --sdp-bg-bks: #DCDCDB;
    --sdp-jys: #CCCCCC;
    --sdp-wzgl: #F6F6F6;
    --sdp-wzgl2: #333333;
    --sdp-is: #AAAAAA;
    --sdp-srk-bxwzs: #999999;
    --sdp-srk-bks: #DDDFE6;
    --sdp-srk-bt: #BBBABA;
    --sdp-xlk-jts: #C0C4CC;
    --sdp-qhi: #8B8B8B;
    --sdp-cszjq-is: #777777;
    --sdp-qhqbj: #E6E6E6;
    --sdp-zjbj: #F1F1F1;
    --sdp-nngl: #FFFFFF;
    --sdp-nn-fzds: #EFF1F6;
    --sdp-fhwzs: #222222;
    --sdp-srjybjs: #F5F7FA;
    --sdp-ysds1: #FFFFFF;
    --sdp-zzlbjs: #F7F7F7;
    --sdp-resizable-handle-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAApSURBVHgB5ZChEQAACALB/SdhST2DWYONLxTuwxMLkrI3cMTzyOn0ZixgQwYNmIGoJwAAAABJRU5ErkJggg==);
    --sdp-cszjdxtc: #465864;
    --sdp-cszjdxg: #FFFFFF;
    --sdp-cszjisc: #BDBEC0;
    --sdp-cszjisc-hover: #465864;
    --sdp-bgwz: #2C3E50;
    --sdp-tagsc-default: #BEBEC1;
    --sdp-tagsc-hover: #553CCE;
    --sdp-tabnn-bg: #D5D9E5;
    --sdp-loading: #465864;
    --sdp-gradient-mask-layer: linear-gradient(to top, rgba(255,255,255,0.4), rgba(255,255,255,0.8));
    --sdp-dcxxnn-bg: #E8E6E6;
    --sdp-PDF: #920F0Ced;
    --sdp-CSV: #343434;
    --sdp-Excel-97: #1E74CF;
    --sdp-Excel-07: #0B325B;
    --sdp-cszjdx0: #EDEFF2;
    --sdp-cszjdxbk: #EDEFF2;
    --sdp-check-disable-fill: #F1F1F1;
    --sdp-jys2: #CCCCCC;
    --sdp-wz-jys: #CCCCCC;
    --sdp-bg-rl-current: #465864;
    --sdp-bg-rl-period: #7993ED;
    --sdp-sjwybj: #ecebfc;
    --sdp-sjwyzt: #465864;
    --sdp-text-caret: #000000;
    --sdp-app-bgs: #ffffff;
    --sdp-rxwz: #2C3E50;
    --sdp-rxbg: #F4F4F4;
    --sdp-rxbc: #444444;
    --sdp-kbysbjs: #FFFFFF;
    --sdp-theme-green: #4EB38F;
    --sdp-theme-yellow: #F49B48;

    --dataFilterTextColor: #222222;
    --settingPanelCheckColor: #606266;
    --checkboxCheckedColor: #553CCE;
    --tableSwitchBgColorBorderColor: #D6D6D6;
    --chartsetTitleBarBorderColor: #eeeeee;
    --chartsetDatasetColor: #606266;

    --sdp-szk-btds: #F6F6F6;
    --mobileIndicatorBackgroundColor: #FFFFFF;
    --sdp-dh-bg: rgb(245,247,250);
    --sdp-dh-biaoti: #333;
    --sdp-dh-bottom-bg: #fff;
    --sdp-dh-bottom-border: #EDF0F5;
    --sdp-dh-bottom-color: #5c646b;
    --sdp-dh-bottom-hover-bg: #fff;
    --sdp-dh-bottom-hover-border: #4136A8;
    --sdp-dh-bottom-hover-color: #4136A8;
    --sdp-dh-xiala-border-color: #EDF0F5;
    --sdp-dh-xiala-yingying: rgba(65,106,156,0.12);
    --sdp-dh-xiala-bg: #fff;
    --sdp-dh-xiala-color: #333;
    --sdp-dh-xiala-hover-bg: #ECEBFC;
    --sdp-dh-xiala-hover-color: #4136A8;
    --sdp-app-tabs-color: #666666;
    --sdp-app-tabs-bg-color: #fffffe;
    --sdp-app-tabs-selected-color: #f8f8f8;
    --sdp-app-tabs-selected-bg-color: #1d4ed8;
    --cursor-pointer-background: rgba(0, 0, 0, 0.1)
}