// 主题列表
$self: (
  sdp-classic-white: (

    monthBorder:#DADADA,
    defaultTypeColor: #606266,
    disabledTileColor: #aaa,
    monthTypeBgc: #465864,
    defaultTypeSelectColor: #455964,
    defaultTypeSelectBgc: #dee6f3,
    selectMonthBgc: #465864,
    selectMonthFont: #FFFFFF ,
    selectWeekBgc: #465864,
    selectWeekBgcPri: #7993ED,
    selectWeekFont: #ffffff,
    normalWeekBgc: #D8D8D8,
    normalWeekFont: #555555,
    arrowIcon: #6B6B6B,
    tipColor: #BBBABA,
    defaultFont:#dcdfe6,
    defaultBorder: #E4E7ED,
    defaultBgc:#fff,
    customBgc: #fff,
    selectColor:#333333,
    clearColor:#555555,
    blockBgc:#F5F7FA,
    blockColor:#555555,
    checkBoxBgc:#ffffff,
    checkBoxSelectColor: #ffffff,
    checkBoxBorder:#606266,
    likeInputBgc: #ffffff,
    likeInputColor: #ddd,
    customMobileBgc:#F2F2F2,
    customInputMobileBgc:#ffffff,
    customInputMobileColor:#383838,
    customInputMobileDateColor:#383838,
    customTitleColor:#666666,
    customBorderColor:#D8D8D8,
    switchColor: #E5E5E5,
    mobileBorder: #D8D8D8,
    switchContentBgc: #D4D4D4,
    switchContentFont: #333333,
    switchContentSelectBgc:#FEFFFE,
    poupContentBgc:#ECECEC,
    poupLineBgc:#ffffff,
    poupLineColor:#455964,
    yearStyleColor:#666666,
    yearSelectColor:#666666,
    yearSelectBgc:#CFCFCF,
    yearTitleColor:#222222,
    borderBottonColor: #d5d5d5,
    lineColor: #eeeeee,
    boxShadowBgc: 2px 2px 0 0 #7993ED,
    monthTypeHoverBgc: #465864,
    btnInfoBgc: #717376,
    monthBg: #ffffff,
    monthWk: #555555,
    monthWkItem: #D8D8D8,
    monthWkItemFont: #465864,
    monthFont: #555555,
    monthFontDisabled: #cccccc,
    monthTitleFont: #555555,
    selectDataActive: #465864,
    selectYearFont: #606266,
    line: #EEEEEE,
    selectDataFont:  #3A3A3A,
    selectDataBg: #EEF0F5,
    selectDataClearBg: #bebec0,
    selectDataClearBgHover: #000,
    selectDataClearColorHover: #fff,
    btnBorderColor: transparent,
    btnBorderColorHover:  #465864,
    scrollBorderColor: #eeeeee,
    quickDataTagBg: #E7EAEC,
    quickDataTagFont: #455964,
    selectQuickDataBg: #455964,

    eventBg: #F0F0F0,
    eventCommonBg: #FFFFFF,
    eventHeaderBg: #FFFFFF,
    eventTitleBarColor: #455964,
    eventTitleIconColor: #455964,
    eventYearActiveColor: #455964,
    eventYearActiveBg: #DDDDDD,
    eventCustomTypeColor: #777777,
    eventClearBtnColor: #007AFF,
    eventSelectedItemBg: #E9EBF2,
    eventSelectedSearchBg: #EEEEEE,
    eventSelectedItemNameColor: #444444,
    eventSelectedItemTimeColor: #444444,
    eventSelectedItemTimeClearBtnColor: #8E8E93,
    eventTitleColor: #444444,
    eventPopupConfirmColor: #007AFF,
    eventCustomChoseActiveColor: #333333,
    eventCustomChoseActiveBg: #F4F4F5,
    eventCustomChoseOperateBoxColor: #455964,
    eventCustomChoseOperateSubBg: #DFE2E4,
    eventCustomChoseOperateAddColor: #DFE2E4,
    eventCustomChoseOperateAddBg: #455964,
  ),
  sdp-dark-blue: (

    monthBorder:#333F4D,
    monthTypeBgc: #4D5C6E,
    monthTypeHoverBgc: #4D5C6E,
    boxShadowBgc: 2px 2px 0 0 #2959BE,
    lineColor: #293644,
    defaultTypeColor: #a7b9cf,
    disabledTileColor: #444,
    defaultTypeSelectColor: #e5ebf2,
    defaultTypeSelectBgc: rgba(110,130,151,.2),
    selectMonthBgc: #4D5C6E,
    selectMonthFont: #ffffff,
    normalWeekBgc: #2E3B4C,
    normalWeekFont: #C6CDD7 ,
    selectWeekBgc: #4D5C6E,
    selectWeekBgcPri:#2959BE,
    selectWeekFont: #ffffff,
    arrowIcon: #62748B,
    tipColor: #fff,
    defaultFont:#2F3D4D,
    defaultBorder: #2F3D4D,
    defaultBgc:#1F2A37,
    customBgc: #212D3B,
    selectColor:#A7B9CF,
    clearColor:#A7B9CF,
    blockBgc:#293747,
    blockColor:#E8E8E8,
    checkBoxBgc:#394858,
    checkBoxSelectColor: #212D3B,
    checkBoxBorder:#212D3B,
    likeInputBgc: #1D2631,
    likeInputColor: #6D6E6F,
    customMobileBgc:#111111,
    customInputMobileBgc:#1C1C1E,
    customInputMobileColor:#CDCDCD,
    customInputMobileDateColor:#ffffff,
    customTitleColor:#666666,
    customBorderColor:#404043,
    switchColor: #121213,
    mobileBorder: #272829,
    switchContentBgc: #222224,
    switchContentFont: #ffffff,
    switchContentSelectBgc:#636366,
    poupContentBgc:#151517,
    poupLineBgc:#1B1C20,
    poupLineColor:#ffffff,
    yearStyleColor:#999999,
    yearSelectColor:#ffffff,
    yearSelectBgc:#363639,
    yearTitleColor:#ffffff,
    borderBottonColor: #363639,
    btnInfoBgc: #313D4A,

    monthBg: #273342,
    monthWk: #455964,
    monthWkItem: #2E3B4C,
    monthWkItemFont: #C6CDD7,
    monthFont: #A7B3C1,
    monthFontDisabled: #495769,
    monthTitleFont: #c2c7ca,
    selectDataActive: #7587A2,
    selectYearFont: #a7b9cf,
    line: #212D3B,
    selectDataFont: #6e7f99,
    selectDataBg: #2a3747,
    selectDataClearBg: #3d4c60,
    selectDataClearBgHover: #fff,
    selectDataClearColorHover: #000,
    btnBorderColor:  #333F4D,
    btnBorderColorHover:  #7587A2,
    scrollBorderColor: #2F3D4D,
    quickDataTagBg: #2A2A32,
    quickDataTagFont: #9B9B9B,

    selectQuickDataBg: #636366,

    eventBg: #111111,
    eventCommonBg: #2F2F2F,
    eventHeaderBg: #1C1C1E,
    eventTitleBarColor: #FEFFFE,
    eventTitleIconColor: #AAAAAA,
    eventYearActiveColor: #FFFFFF,
    eventYearActiveBg: #616161,
    eventCustomTypeColor: #AAAAAA,
    eventClearBtnColor: #FF1717,
    eventSelectedItemBg: #272727,
    eventSelectedSearchBg: #4A4646,
    eventSelectedItemNameColor: #AAAAAA,
    eventSelectedItemTimeColor: #FFFFFF,
    eventSelectedItemTimeClearBtnColor: #666363,
    eventTitleColor: #FEFFFE,
    eventPopupConfirmColor: #FFFFFF,
    eventCustomChoseActiveColor: #FEFFFE,
    eventCustomChoseActiveBg: #222224,
    eventCustomChoseOperateBoxColor: #DFE2E4,
    eventCustomChoseOperateSubBg: #4A4646,
    eventCustomChoseOperateAddColor: #FEFFFE,
    eventCustomChoseOperateAddBg: #553CCE,
  )
);
